<%inherit file="/player/player_template.html" />
<%block name="page_js">
    <script type="text/javascript">
        var Get = {
            username : "${get_value('username')}",
        };
    </script>
    <script src="/static/js/player/worlds.js"></script>
</%block>

<form id="world-list" class="form-horizontal">
    <div class="container">
        <div class="row">
            <div class="span2">
                <label>World Name</label>
            </div>
            <div class="span2 offset1">
                <label>World Creator</label>
            </div>
            <div class="span4 offset1">
                <label>Description</label>
            </div>
        </div>
        <div data-bind="foreach: worldList">
            <div class="row">
                <div class="span2">
                    <span data-bind="text: name"></span>
                </div>
                <div class="span2 offset1">
                    <span data-bind="text: master_name"></span>
                </div>
                <div class="span2 offset1">
                    <span data-bind="text: description"></span>
                </div>
                <div class="span3 offset1">
                    <button class="btn btn-success" data-bind="click: $root.goToWorld">Generate A Character</button>
                </div>
            </div>
        </div>
    </div>
</form>
