<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RPG Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web application to help manage characters, items, spells, monsters, etc. for RPG games.">
    <meta name="author" content="Jacob Foster &amp; Pat">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>

    <%include file="../shared/nav.html" />

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%include file="../../global/scripts.html" />

  </body>
</html>
