<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RPG Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web application to help manage characters, items, spells, monsters, etc. for RPG games.">
    <meta name="author" content="Jacob Foster">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <%block name="page_css"/>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/master/worlds">Worlds</a></li>
              <li><a href="#">Characters</a></li>
              <li><a href="#">Items</a></li>
              <li><a href="#">Monsters</a></li>
            </ul>
          </div>
          <a href="/home" class="btn pull-right">Sign Out</a>
        </div>
      </div>
    </div>

    <div id="page_body">
        ${self.body()}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/core/jquery.js"></script>
    <script src="/static/js/core/knockout.js"></script>
    <script src="/static/js/core/validation.js"></script>
    <script src="/static/js/core/bootstrap.min.js"></script>
    <script src="/static/js/global/sharedLib.js"></script>
    <%block name="page_js" />

  </body>
</html>
